<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <style>
            #automatic_form{
            display: grid !important;
            grid-gap: 5%;
            grid-template-columns: 50% 1fr;
            }

        </style>
    </head>
    <body  class="login-page">
     {% block body %}
     {% endblock %}
     
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
